*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form-section{
    position: relative;
    min-height: 100vh;
    background-image: url('../pics/one.jpg');
    background-attachment: fixed;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#gender {
    display: flex;
    font-size: 10px;
    justify-content: center;
}
.form-section .container{
    position: relative;
    width: 800px;
    height: 700px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-section .container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.form-section .container .user .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    background: #093b04;
    transition: 0.5s;
}
.form-section .container .user .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-section .container .user .formBx{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
.form-section .container .user .formBx form h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
.form-section .container .user .formBx form input{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #555;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
.form-section .container .user .formBx form input[type="submit"]{
    max-width: 500px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
/* .form-section .container .user .formBx form .formBtn{
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
} */
.form-section .container .user .formBx form .signup{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
.form-section .container .user .formBx form .signup a{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}
.form-section .container .signupBx{
    pointer-events: none;
}
.form-section .container.active .signupBx{
    pointer-events: initial;
}

.form-section .container .signupBx .formBx{
    left: 100%;
}
.form-section .container.active .signupBx .formBx{
    left: 0;
}
.form-section .container .signupBx .imgBx{
    left: 100%;
}
.form-section .container.active .signupBx .imgBx{
    left: 0;
}

.form-section .container .signinBx .formBx{
    left: 0;
}
.form-section .container.active .signinBx .formBx{
    left: 100%;
}
.form-section .container .signinBx .imgBx{
    left: 0;
}
.form-section .container.active .signinBx .imgBx{
    left: -100%;
}
@media (max-width:991px){
    .form-section .container{
        max-width: 400px;
    }
    .form-section .container .imgBx{
        display: none;
    }
    .form-section .container .user .formBx{
        width: 100%;
    }
    
}